<form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
	<div class="formContainer">
	  <mat-form-field>
	  	<input matInput placeholder="name" type="text" name="username" maxlength="300" required formControlName="user" [errorStateMatcher]="errorStateMatcher">
	  	<mat-error>Missing name.</mat-error>
	  </mat-form-field>
	  <mat-form-field>
	    <input matInput placeholder="catchphrase" type="text" name="catchphrase" maxlength="30" required formControlName="phrase" [errorStateMatcher]="errorStateMatcher">
	    <mat-error>Missing catchphrase.</mat-error>
	  </mat-form-field>
	<mat-form-field class="example-chip-list">
	  <mat-chip-list #chipList>
	    <mat-chip
	      *ngFor="let category of categories"
	      [selectable]="selectable"
	      [removable]="removable"
	      (removed)="remove(category)">
	      {{category}}
	      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
	    </mat-chip>
	    <input
	      placeholder="Categories:"
				#categoryInput
				maxlength="30"
	      [formControl]="categoryCtrl"
	      [matAutocomplete]="auto"
	      [matChipInputFor]="chipList"
	      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
	      [matChipInputAddOnBlur]="addOnBlur"
	      (matChipInputTokenEnd)="add($event)">
	  </mat-chip-list>
	  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
	    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
	      {{category}}
	    </mat-option>
	  </mat-autocomplete>
	</mat-form-field>
	  <button type="submit" mat-flat-button color="primary" [disabled]="submitForm.invalid">Submit catchphrase</button>
	</div>
</form>