<form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
	<div class="formContainer">
	  <mat-form-field>
	  	<input matInput placeholder="name" type="text" name="username" required formControlName="user">
	  	<mat-error>Missing name.</mat-error>
	  </mat-form-field>
	  <mat-form-field>
	    <input matInput placeholder="catchphrase" type="text" name="catchphrase" required formControlName="phrase">
	    <mat-error>Missing catchphrase.</mat-error>
	  </mat-form-field>
	  <mat-form-field>
	    <input matInput placeholder="category" type="text" name="category" formControlName="category">
	    <mat-hint>Separate categories by commas</mat-hint>
	  </mat-form-field>
	  <button type="submit" mat-flat-button color="primary" [disabled]="submitForm.invalid">Submit catchphrase</button>
	</div>
</form>